<!-- BEGIN PAGE LEVEL STYLES -->
<link href="<?spa echo g_baseUrl ?>main/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
<link href="<?spa echo g_baseUrl ?>main/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN CONTENT -->
<!-- stackable -->
<div id="page-alert-content" class="modal fade" tabindex="-1" data-focus-on="input:first"></div>

<!-- END PAGE CONTENT-->
<!-- END CONTENT -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="<?spa echo g_baseUrl ?>main/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="<?spa echo g_baseUrl ?>main/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
