<header class="bar bar-nav">
    <a class="icon icon-me pull-left open-panel"></a>
    <h1 class="title">标题</h1>
</header>

<!-- 工具栏 -->
<nav class="bar bar-tab">
    <a class="tab-item external active" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">收藏</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon icon-settings"></span>
        <span class="tab-label">设置</span>
    </a>
</nav>

<!-- 这里是页面内容区 -->
<div class="content" id="content">
    <div class="content-block">这里是content</div>
</div>
