<!-- Main navbar -->
<div class="navbar navbar-inverse" id="ap-page-header">

</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content" id="ap-page-sidebar">

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper" id = "page-content"></div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->