@charset "UTF-8";

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
body{font-family:"Microsoft YaHei"; background-color: #fafafa}

.clear{zoom:1;}
.clear:after{content:""; display:block;clear:both;}

html,body{position: absolute; width: 100%;height: 100%; overflow: hidden; top:0; left:0;}
body{background-color: #000; font-family:"Microsoft YaHei";}
.bg{width: 100%; background: url(../img/bg.jpg) no-repeat center; position: absolute;left: 0; top: 0;}
.main{width: 100%; height: 100%; position: relative;zoom: 1;}
.main .page{z-index:9;}

.bottomBar{width: 100%; height: 70px; position:absolute;  bottom: 20px; z-index:1;}
.bottomBar .logoz{position: absolute;bottom: 0;}
.bottomBar .logoz .logo{margin-right: 90px;}
.bottomBar .logoz .endlogo{margin-right: 0;}

.bottomBar .fsbtn{position: absolute; top: 0; right: 20px;}
.err{ width: 938px; height: 566px;text-align: center; position: absolute; top: 0; left: 0; bottom: 0;right: 0; margin: auto;}

.err p{margin-top: 80px; font-size: 34px; color: #fff; line-height: 48px;}
.err p span{color: #eeb03f;}