@charset "UTF-8";

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
body{font-family:"Microsoft YaHei"; background-color: #fafafa}

.clear{zoom:1;}
.clear:after{content:""; display:block;clear:both;}

html,body{position: absolute; width: 100%;height: 100%; overflow: hidden; top:0; left:0;}
body{background-color: #000; font-family:"Microsoft YaHei";}
.bg{width: 100%; background: url(../img/bg.jpg) no-repeat center; position: absolute;left: 0; top: 0;}
.main{width: 100%; height: 100%; position: relative;zoom: 1;}
.main .page{z-index:9;}

.bottomBar{width: 100%; height: 70px; position:absolute;  bottom: 30px; z-index:1;}
.bottomBar .logoz{text-align: center;}
.bottomBar .logoz .logo{margin-right: 90px;}
.bottomBar .logoz .endlogo{margin-right: 0;}

.bottomBar .fsbtn{position: absolute; top: 0; right: 20px;}
/******************************************page1****************************************************/
.page1 img{
	display:inline-block;
}
.page1 {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1700px;
	/*height: 780px;*/
	height: 892px;
	z-index: 2;
}
.page1>h1{
	color: #fff;
	font-size: 72px;
	text-align: center;
	font-weight: bold;
	line-height: 150px;
}
.page1 .page-ass{
	height: 780px;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}
.both{
	clear: both;
}
.page1 .con-left {
	float: left;
	margin-left: 34px;
	margin-top: 29px;
}

.page1 .con-left .text {
	line-height: 48px;
	font-size: 36px;
	color: #ffe26f;
	font-weight: bold;
}

.page1 .con-left .user-list {
	box-sizing: border-box;
	padding: 31px 34px 0px 34px;
	width: 1047px;
	/*解决了li和li之间的间隙*/
	line-height: 0;
	font-size: 0;
	/*解决了li和li之间的间隙*/
	margin: 0;
}

.page1 .con-left .user-list li:nth-child(5) {
	margin-right: 0;
}

.page1 .con-left .user-list li:nth-child(10) {
	margin-right: 0;
}

.page1 .con-left .user-list li:nth-child(15) {
	margin-right: 0;
}

.page1 .con-left .user-list li:nth-child(20) {
	margin-right: 0;
}

.page1 .con-left .user-list .item {
	border-radius: 50%;
	width: 135px;
	height: 135px;
	display: inline-block;
	margin-right: 76px;
	margin-bottom: 29px;
	overflow: hidden;
	background-image: url(../img/qq.png);
	background-repeat: no-repeat;
	background-position: center;
}
.page1 .con-right {
	float: right;
	width: 480px;
	margin-right: 65px;
}

.page1 .con-right .ma {
	width: 480px;
	height: 480px;
	display: block;
}

.page1 .con-right .text {
	line-height: 74px;
	font-size: 30px;
	color: #ffe26f;
	text-align: center;
	font-weight: bold;
}

.page1 .con-right .setting {
	width: 100%;
	margin-top: 25px;
}

.page1 .con-right .setting .setting-ass {
	height: 88px;
	margin: 0 auto;
}

.page1 .con-right .setting .setting-ass .set-small {
	height: 40px;
	display: flex;
	justify-content: center;
	color: #fff;
}

.page1 .con-right .setting .setting-ass .set-small.set00 {
	margin-bottom: 8px;
}

.page1 .con-right .setting .setting-ass .set-small span {
	display: inline-block;
	font-size: 26px;
}
.page1 .con-right .setting .setting-ass .set-small>span {
	line-height: 38px;
}
.page1 .con-right .setting  .set-small i{
	display: inline-block;
	height: 36px;
	border: 2px #ffc741 solid;
	border-radius: 5px;
	margin: 0 8px 0 30px;
}
.page1 .con-right .setting  .set-small .set-box-left,.page1 .con-right .setting  .set-small .set-box-right{
	width: 35px;
	height: 36px;
	position:relative;
	cursor: pointer;
}

.page1 .con-right .setting  .set-small .set-box-left{
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 3px;
	width: 35px;
	background-image: url(../img/jian.png);
}
.page1 .con-right .setting  .set-small .set-box-middle{
	width: 75px;
	height: 36px;
	border-left: 2px solid #ffc741;
	border-right: 2px solid #ffc741;
	margin-right: 0px;
	overflow: hidden;
	color: #ffe26f;
	line-height: 36px;
	text-align: center;
}
.page1 .con-right .setting  .set-small .set-box-right{
	float: right;
	background-image: url(../img/jia.png);
	margin-right: 3px;
	margin-left: -6px;
}
.page1 .con-right .setting .button {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-top: 20px;
	border-radius: 11px;
	width: 100%;
	line-height: 70px;
	font-size: 34px;
	color: #fefefe;
	background-image: url(../img/btnimg.png);
	background-repeat: no-repeat;
	cursor: pointer
}
.page1 .con-right .setting .button .icon{
	width: 38px;
	height: 43px;
	display: inline-block;
	background-image: url(../img/icon.png);
	margin-right: 18px;
	line-height: 100px;
	margin: auto 18px auto 0;
}


/******************************************page1****************************************************/

/******************************************page2****************************************************/
.page2{ width: 740px; height: 566px; text-align: center; position: absolute; top: 0; left: 0; bottom: 0;right: 0; margin: auto;z-index: 2;}
.page2 .counttime{font-size: 500px;  color: #fff; font-weight: bold;line-height: 1;}
.page2 .tips{font-size: 60px; color: #ffe26f; font-weight: bold;}
/******************************************page2****************************************************/

/******************************************page3****************************************************/
.page3 {
	position: absolute;
	left: 0;
	right: 0;
	margin: 38px auto auto auto;
	width: 1700px;
	height: 892px;
	box-sizing: border-box;
	z-index: 2;
}
.page3 .page-ass{
	background-color: rgba(0,0,0,0.1);
	height: 780px;
	padding: 96px 0 104px 0;
	box-sizing: border-box;
	height: 780px;

}

.page3>h1{
	color: #fff;
	font-size: 72px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 32px;
}
.page3 .content{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
}
.page3 .content .item{
	height: 100px;
	width: 100%;
	margin-bottom: 19px;
}
.page3 .content .item .rank{
	float: left;
	display: inline-block;
	font-size: 36px;
	color: #fff;
	line-height: 100px;
	font-weight: bold;
}
/*.page3 .content .rank.front{
	color: #ffe26f;
}*/
.page3 .content li:last-child{
	margin-bottom: 0px;
}
.page3 .content .item .img{
	width: 100px;
	height: 100px;
	margin-left: 29px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.page3 .content .item .con-right{
	position: relative;
	float: right;
	height: 80px;
	width: 960px;
	padding: 10px 0;
}
.page3 .content .item .con-right .username{
	font-size: 30px;
	color: #fff;
}
.page3 .content .item .con-right .line{
	position: absolute;
	bottom: 10px;
	width: 960px;
	height: 24px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
.page3 .content .item .con-right .line-ass{
	position: relative;
	border-radius: 10px;
	background-color: #ba2572;
	height: 100%;
	font-size: 24px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.page3 .content .item .con-right .line-ass .widthP{
	float: right;
	color: #fff;
	line-height: 20px;
}

/*刚开始摇动此时太少 则会隐藏文字和图标*/
.page3 .content .item .con-right .line-ass.none:before{
	display: none;
}
.page3 .content .item .con-right .line-ass.none .widthP{
	display: none;
}

.page3 .content li:first-child a,.page3 .content li:nth-child(2) a,.page3 .content li:nth-child(3) a{
	color: #ffe26f !important;
}
.page3 .content li:first-child .con-right .line-ass .widthP{
	margin-right: 77px;
}
.page3 .content li:first-child .con-right .line-ass:before{
	content: "";
	position: absolute;
	bottom: -9px;
	right: -57px;
	display: block;
	width: 114px;
	height: 80px;
	background-image: url(../img/front01.png);
}
.page3 .content li:nth-child(2) .con-right .line-ass .widthP{
	margin-right: 77px;
}
.page3 .content li:nth-child(2) .con-right .line-ass:before{
	content: "";
	position: absolute;
	bottom: 0px;
	right: -43.5px;
	display: block;
	width: 87px;
	height:76px;
	background-image: url(../img/front02.png);
}
.page3 .content li:nth-child(3) .con-right .line-ass .widthP{
	margin-right: 77px;
}
.page3 .content li:nth-child(3) .con-right .line-ass:before{
	content: "";
	position: absolute;
	bottom: 0px;
	right: -42.5px;
	display: block;
	width: 85px;
	height: 71px;
	background-image: url(../img/front03.png);
}
/******************************************page3****************************************************/

/******************************************page4****************************************************/
.page4 {
	position: absolute;
	left: 0;
	right: 0;
	margin: 38px auto auto auto;
	width: 1700px;
	/*height: 780px;*/
	height: 892px;
	z-index: 2;
}
.page4>h1{
	color: #fff;
	font-size: 72px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 32px;
}
.page4 .page-ass{
	height: 780px;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	overflow: hidden;
}
.page4 .first{
	width: 826px;
	margin: 0 auto;
	margin-top: 20px;
}
/*奖项*/
.page4 .first .username{
	width: 7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.page4 .award{
	height: 76px;
	width: 66px;
	position: absolute;
	bottom: -4px;
	right: 0;
	z-index: 10;
}
.page4 .new_award{
	position: absolute;
	right: 0;
	bottom: 55px;
	height: 45.7px;
	width: 41.25px;
	transform: translateX(-50%);
}
.page4 .show{
	background-image: url(../img/award.png);
	background-size: cover;
}
/*奖项*/
.page4 .username{
	margin-top: 21px;
	color: #fff;
	font-size: 32px;
	text-align: center;
	transform: translateX(-9%);
}
.page4 .first li{
	position: relative;
	display: inline-block;
}
.page4 .first li:first-child,.page4 .first li:nth-child(3){
	height: 226px;
	width:166px;
}
.page4 .first li .bgimg02,.page4 .first li .bgimg01,.page4 .first li .bgimg03{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.page4 .first li .bgimg02{
	background-image: url(../img/02.png);
}
.page4 .first li .bgimg01{
	background-image: url(../img/01.png);
}
.page4 .first li .bgimg03{
	background-image: url(../img/03.png);
}
.page4 .first li:nth-child(2){
	height: 263px;
	width: 194px;
	margin: 0 150px;
}
.page4 .first li:first-child .img,.page4 .first li:nth-child(3) .img{
	position: absolute;
	top: 62px;
	left: 1px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}
.page4 .first li:nth-child(2) .img{
	position: absolute;
	top: 74px;
	left: 5px;
	width: 184px;
	height: 184px;
	border-radius: 50%;
	overflow: hidden;
}
.page4 ul{
	font-size: 0;
	white-space: nowrap;
}
.page4 .two{
	width: 628px;
	margin: 0 auto;
	margin-top: 38px;
}
.page4 .ranking{
	color: #202020;
	font-size: 30px;
	width:  40px;
	height: 40px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-80%);
	background-color: #f0f0f0;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}
.page4 li{
	position: relative;
}
.page4 .two li:nth-child(2){
	margin: 0 135.5px;
}
.page4 .two .username,.page4 .three .username{
	width: 4em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.page4 .two li,.page4 .three li{
	display: inline-block;
}
.page4 .two li .img,.page4 .three li .img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}
.page4 .three{
	width: 901px;
	margin: 0 auto;
	margin-top: 38px;
}
.page4 .three li{
	margin-right: 139px;
}
.page4 .three li:last-child{
	margin-right: 0;
}


.page4 .button{
	position: absolute;
	right: 60px;
	bottom: 45px;
	width: 240px;
}
.page4 .button .btn1,.page4 .button .btn2{
	cursor: pointer;
	width: 100%;
	height: 70px;
	text-align: center;
	font-size: 34px;
	line-height: 70px;
	color: #fefefe;
}
.page4 .button .btn2{
	margin-top: 20px;
	background-image: url(../img/btnimg2.png);
}
.page4 .button .btn1{
	background-image: url(../img/btnimg1.png);
}
/******************************************page4****************************************************/
/******************************************error****************************************************/
.error-box{
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.error{
	width: 440px;
	background-color: #fff;
	position: relative;
	left: 50%;
	margin-left: -220px;
	top: -100%;
	bottom: -9999px;
	border-radius: 10px;
	display: none;
}
.error .close{
	width: 60px;
	height: 60px;
	padding: 15px;
	box-sizing: border-box;
	background:url(../img/close.png) no-repeat;
	position: absolute;
	right: -30px;
	top: -30px;
	border-radius: 50%;
	z-index: 999;
	cursor: pointer;
}
.error .err-top{
	width: 100%;
	height: 369px;
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #F2F2F2;
}
.error .err-top img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-163px,-50%);
}
.error .err-bottom{
	width: 100%;
	padding: 23px 0;
	box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	line-height: 42px;
	font-size: 30px;
	color: #333333;
	white-space: pre-wrap;
}
/******************************************error****************************************************/