{{ $('title').html("用户-登录"); }}

<script type="text/javascript" src="{{= g_baseUrl}}main/assets/js/core/app.js"></script>
<script type="text/javascript" src="{{= g_baseUrl}}common/js/md5-min.js"></script>

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"><img src="{{= g_baseUrl}}common/img/logo.png" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> 首页</span>
                </a>
            </li>

            <li>
                <a>
                    <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> 联系管理员</span>
                </a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog3"></i>
                    <span class="visible-xs-inline-block position-right"> 设置</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <!-- Simple login form -->
                <form id="login-form">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">登录 <small class="display-block">请输入用户名和密码</small></h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="用户名" name="login_name" value="test@tkc8.com">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" placeholder="密码" name="password" value="111111">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group login-options">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="checkbox-inline">
                                        <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                                        记住我
                                    </label>
                                </div>

                                <div class="col-sm-6 text-right">
                                    <a href="#/main/auth/forgetView">忘记密码?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block btn-sub-login">登录 <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                        <div class="content-divider text-muted form-group"><span>其他方式登录</span></div>
                        <ul class="list-inline form-group list-inline-condensed text-center">
                            <li><a class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
                        </ul>
                        <div class="content-divider text-muted form-group"><span>还没有账户?</span></div>
                        <a href="#/main/auth/regView" class="btn btn-default btn-block content-group">注册</a>
                    </div>
                </form>
                <!-- /simple login form -->


                <!-- Footer -->
                <div id="page-content-footer"></div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>

