<div class="page-group">
    <div class="page">
        <header class="bar bar-nav">
            <h1 class='title'>登录</h1>
        </header>
        <div class="content">
            <div class="list-block login-form">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">邮箱</div>
                                <div class="item-input">
                                    <input type="email" name="email" placeholder="输入邮箱" value="user@tkc8.com">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" name="password" placeholder="输入密码" value="111111">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a class="button button-big button-fill button-danger" onclick="history.go(-1)">取消</a></div>
                    <div class="col-50"><a class="button button-big button-fill button-success btn-sub-login">登录</a></div>
                </div>
            </div>
        </div>
    </div>
</div>