<style>
    body {
        background: #000;
    }
</style>

<link href="<?spa echo g_baseUrl ?>sche/assets/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>
<div class="page-404-3">
    <div class="page-inner">
        <img src="<?spa echo g_baseUrl ?>sche/assets/admin/pages/media/pages/earth.jpg" class="img-responsive" alt="">
    </div>
    <div class="container error-404">
        <h1>403</h1>
        <h2>想上天。。。</h2>
        <p>您没有访问当前页面的权限，请联系系统管理员，如果您确实需要访问这个页面。</p>
        <p>
            <a href="/">回到主页 </a> &nbsp <a href="#/main/auth/loginView">重新登录 </a>
            <br>
        </p>
    </div>
</div>