<div class="portlet box green " style="margin-bottom: 0px;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> 请登录
        </div>
        <div class="tools">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body" style="padding-top: 20px;">
                <div class="form-group">
                    <label class="col-md-3 control-label">账号</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="邮箱">
						<span class="help-block"> 请输入邮箱作为账号 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control " placeholder="密码">
						<span class="help-block">请输入密码</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">登录</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>