<div class="page-group">
    <div class="page">
        <header class="bar bar-nav">
            <h1 class='title'>登录</h1>
        </header>
        <div class="content">
            <div class="content-block">
                <p>如果您已经关注了开发者的测试帐号，请使用微信登录</p>
                <div class="row">
                    <div class="col-100"><a class="button button-big button-fill button-success btn-sub-login-wx">微信登录</a></div>
                </div>
            </div>

            <div class="content-block">
                <p>如果没有关注测试帐号<br>请输入昵称，系统将为您创建临时帐号登录</p>
            </div>

            <div class="list-block login-form">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">昵称</div>
                                <div class="item-input">
                                    <input type="email" name="test-name" placeholder="请输入昵称..." value="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a class="button button-big button-fill button-danger" onclick="history.go(-1)">取消</a></div>
                    <div class="col-50"><a class="button button-big button-fill button-success btn-sub-login-test">登录</a></div>
                </div>
            </div>
        </div>
    </div>
</div>