<div class="m-box">
    {{ if(it.member.isMy) {}}
    <div class="box me-box">
        <a><img src="{{= it.member.avatar}}" width="40"/></a>
        <dl class="me m1">
            <dt>{{= it.member.name}}</dt>
            <dd>{{= it.msg}}</dd>
        </dl>
    </div>
    {{ }else{ }}
    <div class="box he-box">
        <a><img src="{{= it.member.avatar}}" width="40"/></a>
        <dl class="he m1">
            <dt>{{= it.member.name}}</dt>
            <dd>{{= it.msg}}</dd>
        </dl>
    </div>
    {{ }  }}
</div>

