<a class="tab-item external" href="tab-home.html">
    <img class="a1" src="img/home.png" alt="" /><br />
    <span style="color: #e9af29;">首页</span>
</a>
<a class="tab-item external " href="tab-category.html">
    <img class="a2" src="img/category.png" alt="" /><br />
    <span>分类</span>
</a>
<span id="tanchu" class="tab-item external">
						<div><img src="img/tab.png" alt="" id="tab-add"/></div>
					</span>
<a class="tab-item external" href="tab-cart.html">
    <img class="a3" src="img/cart.png" alt="" /><br />
    <span>购物车</span>
</a>
<a class="tab-item external a4" href="tab-me.html">
    <img class="a4" src="img/mine.png" alt="" /><br />
    <span >我的</span>
</a>