<div class="navbar-header">
    <a class="navbar-brand" href="">
        <img src="{{= g_baseUrl}}/common/img/logo.png" alt="">
    </a>

    <ul class="nav navbar-nav visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
</div>

<div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
        <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-user">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{= g_baseUrl}}/main/assets/images/placeholder.jpg" alt="">
                <?spa if (it && it.member && it.member.name) {?>
                <span>{{= it.member.name }}</span>
                <?spa } ?>
                <i class="caret"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#/main/auth/logout"><i class="icon-switch2"></i>注销</a></li>
            </ul>
        </li>
    </ul>
</div>