<div class="page-group">
    <div id="page-layout" class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">表单</h1>
        </header>
        <div class="content native-scroll">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">联系电话</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">购票信息</div>
            <div class="list-block media-list inset">
                <ul>
                    <li>
                        <a href="" class="item-link item-content">
                            <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">标题</div>
                                </div>
                                <div class="item-subtitle">子标题</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content-block-title"><a> + 再买一张</a></div>
            <br>
            <div class="content-block">
                <div class="row">
                    <div class="col-100"><a class="button button-big button-fill button-success">提交</a></div>
                </div>
            </div>
        </div>
    </div>

</div>