{{ for(var i in it ){ var item = it[i]; }}

    {{
        var verifyText = item.is_success == 0 ? '识别成功' : '识别失败';
        var verifyTime = item.record_time?(item.record_time).substring(11,18):'';
    }}

    {{ if(item.is_success == 0) { }}
        <dl class="record-item clearfix">
            <dt>
                {{
                    var imgCardUrl = g_baseUrl+'common/img/img-no-found.jpg';
                    var imgCardUrlBig = g_baseUrl+'common/img/img-no-found.jpg';
                    if(item.card){
                        imgCardUrl = g_url+API["data_member_avatar"] +"?id="+item.card.C_ID+"&type=1";
                        imgCardUrlBig = g_url+API["data_member_avatar"] +"?id="+item.card.C_ID+"&image.jpg";
                    }
                }}
                <img src="{{= imgCardUrl}}" alt="" />
                <div class="personal-info">
                    <p><span>姓名：</span>{{= item.user_name }}</p>
                    <p><span>出入标志：</span>{{ var tag_text = tagText(item.in_out_tag);}}{{= tag_text }}</p>
                    <p><span>证件类型：</span>{{= item.card ? item.card.CardType:'' }}</p>
                    <p><span>证件编号：</span></p>
                    <p>{{= item.card ? item.card.CardNO:'' }}</p>
                </div>
            </dt>
            <dd>
                <div class="result-success">
                    <p><strong>{{= verifyText }}</strong></p>
                    <p>{{= verifyTime }}</p>
                </div>
            </dd>
        </dl>
    {{ } else{ }}
        <dl class="record-item clearfix">
            <dt class="fail">
                <img src="{{= g_baseUrl}}main/assets/monitor/images/demo-img1.png" alt=""/>
            </dt>
            <dd>
                <div class="result-fail">
                    <p><strong>{{= verifyText }}</strong></p>
                    <p>{{= verifyTime }}</p>
                </div>
            </dd>
        </dl>
    {{ } }}

{{ } }}

<dl class="record-item clearfix">
    <dt class="fail">
        <img src="{{= g_baseUrl}}main/assets/monitor/images/demo-img1.png" alt=""/>
    </dt>
    <dd>
        <div class="result-fail">
            <p><strong>识别失败</strong></p>
            <p>00:00:00</p>
        </div>
    </dd>
</dl>
<dl class="record-item clearfix">
    <dt>
        <img src="{{= g_baseUrl}}main/assets/monitor/images/profile.jpg" alt=""/>
    <div class="personal-info">
        <p><span>姓名：</span>测试测</p>
        <p><span>出入标志：</span>测试测</p>
        <p><span>证件类型：</span>测试测</p>
        <p><span>证件编号：</span></p>
        <p>342623199204030016</p>
    </div>
    </dt>
    <dd>
        <div class="result-success">
            <p><strong>识别成功</strong></p>
            <p>00:00:00</p>
        </div>
    </dd>
</dl>
