
{{ for(var i in it ){ var item = it[i]; }}

<div class="mobile-access-item">
    <i class="lt-arrow"></i>
    <i class="lb-arrow"></i>
    <i class="rt-arrow"></i>
    <i class="rb-arrow"></i>
    <p class="item-tit">
        {{= item.card ? item.card.CardID:'[------]' }}
        {{ item.remark = $.trim(item.remark);}}
        <span>
            {{ if(item.remark == "对比成功" || item.remark == "比对成功"){ }}
            识别成功 {{= item.record_time?(item.record_time).substring(11,18):'' }}
            {{ }else if(item.remark == "对比失败" || item.remark == "比对失败" ) { }}
            <span style="color:#fa4056;">识别失败 {{= item.record_time?(item.record_time).substring(11,18):'' }}</span>
            {{ }else{ }}
            <span>正在识别 ...</span>
            {{ } }}
        </span>
    </p>
    <div class="item-inner clearfix">

        {{  var imgCardUrl = g_baseUrl+'common/img/img-no-found.jpg';
            var imgCardUrlBig = g_baseUrl+'common/img/img-no-found.jpg';
            if(item.card){
            imgCardUrl = g_url+API["data_member_avatar"] +"?id="+item.card.c_id+"&type=1";
            imgCardUrlBig = g_url+API["data_member_avatar"] +"?id="+item.card.c_id+"&image.jpg";
            }
        }}
        {{ var imgXcxUrl = g_url+API["data_xcx_avatar"] +"?id="+item.ver_id+"$image.jpg"; }}

        <img src="{{= imgCardUrl}}" alt="" />
        <img src="{{= imgXcxUrl}}" alt="" />
        <div class="personal-info">
            <p><span>姓名：</span>{{= item.user_name }}</p>
            <p><span>出入标志：</span>{{ var tag_text = tagText(item.in_out_tag);}}{{= tag_text }}</p>
            <p><span>证件类型：</span>{{= item.card ? item.card.CardType:'' }}</p>
            <p><span>证件编号：</span></p>
            <p>{{= item.card ? item.card.CardNO:'' }}</p>
        </div>
    </div>
</div>
{{ } }}
