<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">部门管理
    <small>编辑部门</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/main/user/userListView">部门</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">编辑部门</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>填写部门信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">部门ID</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                    <i class="fa fa-user"></i>
                                        <input type="text" id="FId"  class="form-control" value='<?spa echo it.FId ?>' readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">部门名称</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class="form-control" id="FName" placeholder="请输入部门名称" value='<?spa echo it.FName ?>'>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">部门描述</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                        <i class="fa fa-envelope"></i>
                                        <input type="text" class="form-control" id="FDesc" placeholder="请输入部门描述" value='<?spa echo it.FDesc ?>'>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn green" onclick='Alpaca.to("#/main/user/departEdit")'>保存</button>
                                    <button type="button" class="btn default"onclick='Alpaca.to("#/main/user/departListView")'>取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>