<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">部门管理
    <small>部门明细</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/main/user/userListView">部门</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">部门明细</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>部门信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">部门名称</label>
                                <div class="col-md-5">
                                    <p class="form-control-static"><?spa echo it.FName ?></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">部门描述</label>
                                <div class="col-md-5">
                                    <p class="form-control-static"><?spa echo it.FDesc ?></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn green" onclick='Alpaca.to("#/main/user/departListView")'>确定</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>