<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">用户管理
    <small>编辑用户</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/main/user/groupListView">用户分组</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">编辑用户</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>编辑用户分组信息
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">分组ID</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                        <i class="fa fa-user"></i>
                                        <input type="text" id="id"  class="form-control" value='<?spa echo it.id ?>' readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">用户分组名称</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class="form-control" id="name" placeholder="请输入用户名称" value='<?spa echo it.name ?>'>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">描述</label>
                                <div class="col-md-5">
                                    <div class="input-icon left">
                                        <i class="fa fa-envelope"></i>
                                        <input type="text" class="form-control" id="desc" placeholder="请输入描述" value='<?spa echo it.desc ?>'>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">分组权限</label>
                                <input type="hidden" id="auths" value='' >
                                <div class="col-md-5" id="auth-area">

                                    <br>
                                    <br>
                                    <br>

                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn green" onclick='Alpaca.to("#/main/user/groupEdit")'>保存</button>
                                    <button type="button" class="btn default"onclick='Alpaca.to("#/main/user/groupListView")'>取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>