<style>

    .avatar-box{
        padding-left: 10px;
    }

    .avatar-box img{
        width: 60px;
        vertical-align: bottom;
    }

    .avatar-box span{
      font-weight: bold;
    }

    .form-group .form-control-static, .form-group textarea{
        font-weight: bold
    }

</style>

{{ console.log(it);  }}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">详细信息</h5>
        </div>
        <hr style="margin-bottom: 0px;">
        <form>
            <div class="modal-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>用户:</label><span style="font-weight: bold"> {{= it.user_name }}</span>
                        </div>

                        <div class="col-sm-3">
                            <label>流水号:</label><span style="font-weight: bold"> {{= it.ver_id }}</span>
                        </div>

                        <div class="col-sm-6">
                            <label>识别时间:</label><span style="font-weight: bold">{{= it.record_time }}</span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        {{  var imgCardUrl = g_baseUrl+'common/img/img-no-found.jpg';
                            var imgCardUrlBig = g_baseUrl+'common/img/img-no-found.jpg';
                            if(it.card){
                                imgCardUrl = g_url+API["data_member_avatar"] +"?id="+it.card.C_ID+"&type=1";
                                imgCardUrlBig = g_url+API["data_member_avatar"] +"?id="+it.card.C_ID+"&image.jpg";
                            }
                        }}
                        {{ var imgXcxUrl = g_url+API["data_xcx_avatar"] +"?id="+it.ver_id+"$image.jpg"; }}

                        <div class="col-sm-3">
                            <label>证卡照片:</label>
                            <a href="{{= imgCardUrlBig }}" target="_blank" data-popup="lightbox" style="display:block;">
                            <img src="{{= imgCardUrl }}" alt="" style="width: 60px; display:block; " />
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <label>人脸照片:</label>
                            <a href="{{= imgXcxUrl }}" target="_blank" data-popup="lightbox" style="display:block;">
                            <img src="{{= imgXcxUrl }}" alt="" style="width: 60px; ; display:block;" />
                            </a>
                        </div>

                        <div class="col-sm-6">
                             <span>识别结果:</span>

                            {{ if(it.is_success == 0){ }}
                            <span class="label label-success">成功</span>
                            {{ }else{ }}
                            <span class="label label-danger">失败</span>
                            {{ if(it.event_type != "正常"){ }}
                            <span class="label label-warning"> - {{= it.event_type }}</span>
                            {{ } }}
                            {{ } }}

                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>姓名:</label>
                            <div class="form-control-static">{{= it.card ? it.card.UserName:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>证件类型:</label>
                            <div class="form-control-static">{{= it.card ? it.card.CardType:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>组别:</label>
                            <div class="form-control-static">{{= it.card ? it.card.CardGroup:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>证卡状态:</label>
                            <div class="form-control-static">{{= it.card ? (it.card.CardState?'正常':'异常' ):'' }}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>证件序列号:</label>
                            <div class="form-control-static">{{= it.card ? it.card.C_ID:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>证件编号:</label>
                            <div class="form-control-static">{{= it.card ? it.card.CardNO:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>电子标签号:</label>
                            <div class="form-control-static">{{= it.card ? it.card.CardID:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>出入标志:</label>
                            <div class="form-control-static">{{ var tag_text = tagText(it.in_out_tag);}}{{= tag_text }}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>启用日期:</label>
                            <div class="form-control-static">{{= it.card ? it.card.StartUseDT:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>失效日期:</label>
                            <div class="form-control-static">{{= it.card ? it.card.ExpireDT:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>创建日期:</label>
                            <div class="form-control-static">{{= it.card ? it.card.CreateDT:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>最后修改日期:</label>
                            <div class="form-control-static">{{= it.card ? it.card.ModifyDT:'' }}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>出生日期:</label>
                            <div class="form-control-static">{{= (it.card && it.card.UserBirthday)?(it.card.UserBirthday).substring(0,10):'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>性别:</label>
                            {{var sex_label = it.card?((it.card.UserSex == 1)? '男':'女'):''; }}
                            <div class="form-control-static">{{= sex_label }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>证件类型:</label>
                            <div class="form-control-static">{{= it.card?it.card.UserCertifyCardType:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>证件号码:</label>
                            <div class="form-control-static">{{= it.card?it.card.UserCertifyCardNo:'' }}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>单位:</label>
                            <div class="form-control-static">{{= it.card?it.card.CardUnit:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>部门:</label>
                            <div class="form-control-static">{{= it.card?it.card.CardDepart:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>职务:</label>
                            <div class="form-control-static">{{= it.card?it.card.UserCareer:'' }}</div>
                        </div>

                        <div class="col-sm-3">
                            <label>联系电话:</label>
                            <div class="form-control-static">{{= it.card?it.card.ContactTel:'' }}</div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>备注:</label>
                            <textarea style="background-color: #fff; resize:none;" rows="5" cols="5" class="form-control" readonly="readonly">{{= it.card?it.card.CardMemo:'' }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
