<table class="table table-togglable table-hover" style="word-break: keep-all;">
<thead>
<tr >
    <th data-toggle="true">用户</th>
    <th data-hide="">流水号</th>
    <th data-hide="phone,tablet">电子标签号</th>
    <th data-hide="phone,tablet">电子标签类型</th>
    <th data-hide="">组别</th>
    <th data-hide="phone">证件状态</th>
    <th data-hide="phone,tablet">出入标志</th>
    <th data-hide="phone,tablet">识别时间</th>
    <th data-hide="phone,tablet">事件类型</th>
    <th data-hide="phone,tablet">识别结果</th>
    <th data-hide="phone">详细信息</th>
</tr>
</thead>
<tbody>
<?spa for(key in it.list){ var item = it.list[key]; ?>
<tr>
    <td>{{= item.user_name }}</td>
    <td>{{= item.ver_id }}</td>
    <td>{{= item.card_id }}</td>
    <td>{{= item.card?item.card.CardType:"" }}</td>
    <td>{{= item.card?item.card.CardGroup:"" }}</td>
    <td>{{= item.card?item.card.CardState:"" }}</td>
    <td>{{ var tag_text = tagText(item.in_out_tag);}}{{= tag_text }}</td>
    <td>{{= item.record_time }}</td>
    <td>
        {{ if(item.event_type != "正常"){ }}
        <span class="label label-warning">{{= item.event_type }}</span>
        {{ }else{ }}
        正常
        {{ } }}
    </td>
    <td>
        {{ if(item.is_success == 0){ }}
        <span class="label label-success">成功</span>
        {{ }else{ }}
        <span class="label label-danger">失败</span>
        {{ } }}
    </td>
    <td><button type="button" class="btn btn-primary btn-member-info" onclick='showDetailInfo("{{= item.ver_id }}")'>详情</button></td>
</tr>
<?spa } ?>
</tbody>
</table>
<script>
    /* 弹窗显示成员信息 */
    var showDetailInfo = function(id){
        AlpacaAjax({
            url: g_url + API['data_xcx_list'],
            data: {id:id},
            success: function (data) {
                if(data.code == 9900){
                    Alpaca.to("#/main/data/xcxInfoView",data.data.list[0]);
                }
            },
        });
    };
</script>