<div class="page-group">
    <div id="page-nav-bar-labels" class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">工具栏</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external active" >
                Label
            </a>
            <a class="tab-item external" >
                Label
            </a>
            <a class="tab-item external">
                Label
            </a>
        </nav>
        <div class="content native-scroll">
        </div>

    </div>

</div>