<div class="page-group">
    <div id="page-nav-bar" class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" >
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">工具栏</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external active">
                <span class="icon icon-home"></span>
                <span class="tab-label">Label</span>
            </a>
            <a class="tab-item external">
                <span class="icon icon-me"></span>
                <span class="tab-label">Label</span>
                <span class="badge">2</span>
            </a>
            <a class="tab-item external">
                <span class="icon icon-star"></span>
                <span class="tab-label">Label</span>
            </a>
            <a class="tab-item external">
                <span class="icon icon-cart"></span>
                <span class="tab-label">Label</span>
            </a>
            <a class="tab-item external">
                <span class="icon icon-settings"></span>
                <span class="tab-label">Label</span>
            </a>
        </nav>
        <div class="content native-scroll">
        </div>

    </div>

</div>