<div class="page-group">
    <div id="page-title-bar-links" class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <a class="button button-link button-nav pull-right">
                下一步
                <span class="icon icon-right"></span>
            </a>
            <h1 class="title">标题</h1>
        </header>
        <div class="content native-scroll"></div>
    </div>
</div>